.container-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 0;
}

.project {
  padding:  0.5em;
  border-radius: 4px;
  background-color: #fff;
  margin: 1%;
  width: 30%;
  height: 500px;
}

.link-code {
  display: flex;
  align-self: flex-end;
  background-color: var(--secondaryColor);
  font-size: 0.9em;
  margin-bottom: 2vh;
  padding: 2%;
}

.titleProject{
  margin-bottom: 10%;
}

.project:hover {
  width: 50%;
  height: 20%;
}

.img-project {
  margin: 2%;
  width: 90%;
  height: 40%
}

legend {
  margin: -3% 0 4%;
  font-size: 0.6em;
  color: #646464;
  align-items: center;
  justify-content: center;
}

.section-project {
  display: flex;
  background-color: var(--sedondaryColor);
  justify-content: center;
}

.tecnology {
  display: flex;
  flex-direction: row;
  margin-bottom: 4%;
  flex-wrap: wrap;
}

.text {
  border-radius: 50px;
  border: 2px solid var(--secondaryColor);
  font-size: 0.7em;
  padding: 2%;
  margin-right: 2%; 
}

.trouble {
  font-size: 0.8em;
}