.project {
  padding:  0.5em;
  border-radius: 4px;
  background-color: #fff;
  margin: 1%;
  width: 20%;
  height: 40%;
}

.link-code {
  display: flex;
  align-self: flex-end;
  font-size: 0.9em;
}

p {
  margin-bottom: 2%;
}

.project:hover {
  width: 30%;
  height: 20%;
}

.img-project {
  margin: 2%;
  width: 30%;
  height: 40%
}

.section-project {
  display: flex;
  background-color: var(--sedondaryColor);
  justify-content: center;
}

.tecnology {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.text {
  border-radius: 50px;
  border: 2px solid var(--sedondaryColor);
  font-size: 0.7em;
  padding: 2%;
  margin-right: 2%; 
}

.trouble {
  font-size: 0.8em;
}