@media (min-width: 360px) and (max-width: 900px) {
* {
   font-size: 0.9em;
}

.about{
  font-size: 1.5em;
}

.aws, .bootcamp {
  height: 30px;
}

.card-body1 {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 10% 0 0 0;
 }
 .card-body {
  display: flex;
  flex-wrap: wrap;
}
 .card-item {
   margin: 2%;
   padding: 1%;
 }

 .carousel .carousel-inner {
  margin-left: -10%;
  width: 50%;
  height: 20%;
 }

 .carousel-control-next,
 .carousel-control-prev{
  width: 0.4%;
 }

 .description {
   display: flex;
   flex-direction: column;
  }
 .img-project {
   margin: 2%;
   width: 100%;
 }

 .imgGlass {
  visibility: hidden;
 }

 .logo {
  margin: 0 0 -10% -20%;
 }

 .project {
   padding:  2em;
   border-radius: 4px;
   background-color: #fff;
   margin: 2% 0 1% 10%;
   width: 60%;
   font-size: 1.4em;
   height: 50%;
 }

 .project:hover {
  margin-left: 5%;
  width: 70%;
  height: 60%;
  }
  
 .section-project {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
}