:root {
  --color: #E6E6FA;
  --subTitle: #2b2e31;
  --secondaryColor: #5d8aa8;
  --colorOrange: #EB5D0E;
  --colorBlue: #2F6DA7;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.02em;
  font-family:  "Roboto", "Arial"
}

a {
  text-decoration: none;
  color: var(--subTitle);
}

body {
  background-color: var(--color);
  display: flex;
  flex-direction: column;
  margin: 2% 15% 0 15%;
}

.color-blue {
  color: var(--colorBlue);
  font-weight: bold;
}

.color-orange {
  color: var(--colorOrange);
  font-weight: bold;
  font-size: 1.5em;
}

.contact {
  display: flex;
  flex-direction: row;
}
.description {
  margin-top: 10%;
}

h3 {
  justify-content: center;
}

header {
 border-bottom: 3px solid var(--secondaryColor);
 justify-content: center;
}

.item {
  margin: 3% 3% 0 0;
}

.logo {
  color: var(--colorBlue);
  display: flex;
  flex-direction: row;
  margin-bottom: -5%;
  align-items: center;
}

.main {
  font-size: 2em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu a {
  margin: 2% 2% 2% 2%;
  font-weight: bold;
  color: var(--subTitle);
}
