@media only screen and (max-width: 800px){
 .boxSection{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .item{
    padding: 4%;
    justify-content: center;
    width: 70vw;
 }
 p{
   font-size: 0.8em;
 }
}